<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页1：使用style调整背景要素颜色</title>
    <style>
    h1
    {
        background-color:=#ff0000;
        <!--红色-->
    }
    p
    {
        background-color:#9999ff;
        <!--浅蓝色-->
    }
    div
    {
        background-color:#00ff00;
        <!--绿色-->
    }
    </style>
</head>
<body>

<h1>CSS background-color 实例!</h1>
<div>
该文本插入在 div 元素中。
<p>该段落有自己的背景颜色。</p>
我们仍然在同一个 div 中。
</div>

</body>
</html>